<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Recommendations</title>
</head>
<body>
    <h1>Movie Recommendations</h1>
    <h3> Click at the below button to rate movies and use System 2</h3>
    <a href="{{ url_for('rate_movies') }}"><button>Rate Movies</button></a>
    <form method="post">
        <h3>System 1</h3>
        <label for="genre">Enter your favorite movie genre:</label>
        <input type="text" name="genre" required>
        <button type="submit">Get Recommendations</button>
    </form>
    {% if genre %}
        <h2>Top 10 Recommendations for {{ genre }}</h2>
        <ul>
            {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
