<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rate Movies</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Rate Sample Movies</h1>
    <button id="showFormBtn">Show Ratings Form</button>
    <form method="post" id="ratingsForm" class="hidden">
        {% for movie in movies %}
            <div>
                <label for="rating_{{ movie.MovieID }}">{{ movie.Title}}</label>
                <input type="number" name="rating_{{ movie.MovieID }}" min="1" max="5" step="0.5" required>
            </div>
        {% endfor %}
        <button type="submit">Get Recommendations</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var showFormBtn = document.getElementById('showFormBtn');
            var ratingsForm = document.getElementById('ratingsForm');

            showFormBtn.addEventListener('click', function () {
                // Show/hide the ratings form
                ratingsForm.classList.toggle('hidden');
            });
        });
    </script>
</body>
</html>
