<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Recommendations</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Movie Recommendations</h1>
    <h2>Top 10 Recommendations</h2>
    <!-- <button id="toggleRecommendationsBtn">Toggle Recommendations</button> -->
        {% if not recommendations.empty %}
        <ul>
            {% for column, values in recommendations.items() %}
            <p>{{ column }}: {{ values.to_list() }}</p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available.</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggleRecommendationsBtn = document.getElementById('toggleRecommendationsBtn');
            var recommendationsList = document.getElementById('recommendationsList');

            toggleRecommendationsBtn.addEventListener('click', function () {
                // Show/hide the recommendations list
                recommendationsList.classList.toggle('hidden');
            });
        });
    </script>
</body>
</html>

